# Импорт необходимых модулей

In [74]:
import sys
sys.path.append('..')

In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=';', header=0, error_bad_lines=False, encoding='Windows-1251')

In [9]:
books = pd.read_csv('data/BX-Books.csv', sep=';', header=0, error_bad_lines=False, encoding='Windows-1251', )

C:\Users\Efim_Golovin\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
users = pd.read_csv('data/BX-Users.csv', sep=';', header=0, error_bad_lines=False, encoding='Windows-1251')

In [75]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
5         276733   2080674722            0
6         276736   3257224281            8
7         276737   0600570967            6
8         276744   038550120X            7
9         276745    342310538           10
10        276746   0425115801            0
11        276746   0449006522            0
12        276746   0553561618            0
13        276746   055356451X            0
14        276746   0786013990            0
15        276746   0786014512            0
16        276747   0060517794            9
17        276747   0451192001            0
18        276747   0609801279            0
19        276747   0671537458            9
20        276747   0679776818            8
21        276747   0943066433            7
22        276747   1570231028            0
23        276747   1885408226            7
24        276748   0747558167            6
25        276748   3442437407            0
26        276751   033390804X            0
27        276751   3596218098            8
28        276754   0684867621            8
29        276755   0451166892            5
...          ...          ...          ...
1149750   276690   0312970188            0
1149751   276690   0440439884            0
1149752   276690   0590453653            0
1149753   276690   0590453688            0
1149754   276690   0590455419            0
1149755   276690   0590464116            0
1149756   276690   0590581066            0
1149757   276690   0590907301            0
1149758   276697   8445072897            0
1149759   276704   0152022597            0
1149760   276704   0312873115            0
1149761   276704   0345386108            6
1149762   276704   0380796155            5
1149763   276704   0395404258            0
1149764   276704   0425060772            0
1149765   276704   0440206529            0
1149766   276704   0441007813            0
1149767   276704   0446353957            0
1149768   276704   0446605409            0
1149769   276704   059032120X            0
1149770   276704   0679752714            0
1149771   276704   0743211383            7
1149772   276704   080410526X            0
1149773   276704   0806917695            5
1149774   276704   0876044011            0
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]